<div class="row">
    <div class="large-9 columns">
        <div class="row">
            {( breadcrumbs.html )}

            {% for _, b in pairs(blogs) do %}
            <div class="columns item">
                <div class="acticle-header">
                    <h3><a href="{{b.uri}}">{{b.title}}</a></h3>
                    <h6><a href="#">{{b.creator}}</a>发表于{{b.created}}</h6>
                </div>
                <div>
                    <p>{{b.summary_text}}</p>
                </div>
                <!-- <hr/> -->

            </div>
            {% end %}

            <!-- <div class="columns">
                <ul class="pagination" role="navigation" aria-label="Pagination" data-pg-collapsed>
                    <li class="pagination-previous disabled">前页
                        <span class="show-for-sr">page</span>
                    </li>
                    <li class="current">
                        <span class="show-for-sr">You're on page</span> 1
                    </li>
                    <li>
                        <a href="#" aria-label="Page 2">2</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 3">3</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 4">4</a>
                    </li>
                    <li class="ellipsis" aria-hidden="true"></li>
                    <li>
                        <a href="#" aria-label="Page 12">12</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 13">13</a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" aria-label="Next page">后页 <span class="show-for-sr">page</span></a>
                    </li>
                </ul>
            </div> -->
            
        </div>
    </div>
    {(sidebar.html)}
</div>
