<div class="row">
    <div class="large-9 columns">
        <div class="row">
            {(breadcrumbs.html)}
            
            <div class="columns item">
                <div class="acticle-header">
                    <h3>{{blog.title}}</h3>
                    <h6><a href="#">{{blog.creator}}</a>发表于{{blog.created}}</h6>
                </div>
                <div class="markdown-body">
                    <p>{[blog.html_file]}</p>
                </div>
            </div>

        </div>
    </div>
    {(sidebar.html)}
</div>
