{( _partial/head.html )}
<body>
    {( _partial/loading.html )}
    <script>setLoadingBarProgress(20)</script>
    {( _partial/header.html )}
    <script>setLoadingBarProgress(40)</script>
    <div class="l_body">
        <div class="container clearfix">
            <div class="l_main">
                {* blocks.main *}
            </div>
            <aside class="l_side">
                {( _partial/side.html )}
            </aside>
            <script>setLoadingBarProgress(60)</script>
        </div>
    </div>
    {( _partial/footer.html )}
    <script>setLoadingBarProgress(80)</script>
    {( _partial/scripts.html )}
    <script>setLoadingBarProgress(100)</script>
</body>
</html>
