<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        {* helper:favicon_tag() *}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/foundation.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/github-markdown.css" />
        <style type="text/css">
.markdown-body h2 {
  border-bottom: none;
}
        </style>
    </head>
    <body>
        {(header.html)}
        {*view*}
        {(footer.html)}
        <script src="/js/vendor/jquery.min.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script>
$(document).foundation();
        </script>
    </body>
</html>
