<!DOCTYPE html>
<html>
    <meta charset="utf-u">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="HandlheldFriendly" content="True" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=devicce-width, initial-scale=1, maximum-scale=1" />
    <link href="/css/com/googleapis/fonts?family=Inconsolata|Titillium+Web" rel="stylesheet">
    <link href="/css/com/googleapis/fonts?family=Roboto+Mono" rel="stylesheet">
    <link href="/css/waves.css" rel="stylesheet">

    <!--
    <script>less = { env: 'development'};</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    <script>less.watch();</script>
    <link href="/css/style.less" rel="stylesheet">
    -->

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/highlighting/vim.css" rel="stylesheet">
<script>
function setLoadingBarProgress(num) {
    document.getElementById('loading-bar').style.width = num + '%';
}
</script>
</head>
