<section class="post-list">
    {%
    for i = 1, #page.posts do
        local post = page.posts[i]
    %}
    <div class='post-wrapper'>
        {[ post.html_file, post ]}
    </div>
    {% end %}
</section>

{% if page.total > 1 then %}
    <nav id="page-nav">
        {% if page.prev ~= 0 then %}
        <a class="prev" rel="prev" href="{{ page.prev_link }}">
            <span class="icon icon-chevron-left"></span>
            <span class="text">Previous</span>
        </a>
        {% end %}
        {% if page.next ~= 0 then %}
        <a class="next" rel="next" href="{{ page.next_link }}">
            <span class="text">Next</span>
            <span class="icon icon-chevron-right"></span>
        </a>
        {% end %}
  </nav>
{% end %}
